body{
    font-family:  'Libre Franklin', sans-serif;
    
    background-color: #5649ba;
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items:center;
    justify-items: center;
    width: 1200px;
    margin: auto;
}

.titulo{
    font-family:  'M PLUS 1', sans-serif;
}

a{
    color: black;
    text-decoration: none;
}

.imagen-logo{
    justify-self: start;
}

.header-botones{
    margin-top: 3rem;
}

.carrito {
margin-left: 3rem;
}

.barrra-navegacion{
    background-color: rgb(217, 214, 214);
    margin-top: 4rem;
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px 30px;
}

.imagen-central{
    width: 1200px;
    margin:auto;
}


footer{
    margin-top: 1.5rem;
    background-color: rgb(217, 214, 214);
    color: black;
    margin-bottom: 0;
    font-family:  'M PLUS 1', sans-serif;

}

.contenido{
    width: 1200px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.footer_pag{
    font-size: 18px;
   padding: 3rem 0rem;
    margin: auto;
    margin-bottom: 0;
    width: 1200px;
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.redes-sociales{
    display: flex;
    justify-content: space-between;

}


.componentes-busqueda{
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    grid-template-rows: auto;
}

.imagen-card{
    width: 140px;
    height: 140px;
}



#titulo{
    color: red;
    size: 100px;
    text-align: center;
}
.BarraDeNavegacion{
    text-align: center;
    display: flex;
}
.Body__Footer{
    font-family: 'M PLUS 1', sans-serif;
}
.Imagen{
    border-radius: 20px;
}
.Body{
    font-family: 'Libre Franklin', sans-serif;
    background-color: white;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(5,auto);
    padding: 20px;
    background-color: white;
    border: solid 2px;
    justify-items: center;
    grid-area: span;
}

