/*@media screen and (max-width: 480px) {
    .icon-bar{
        position: relative;
    }
}

.header-botones  .icon-bar{ 
    display: none;
    columns: width auto;
    
}*/
    

@media screen and (min-width: 481px) {
    .header-botones  .icon-bar{ 
        display: none;
        columns: width auto;
    }   
    }
    
    @media screen and (max-width: 480px) {
        .icon-bar{
            position: relative;
        display: inherit;
        }
    }